<!-----------------------------------------------------------------------------
app.component.html
---------------------------------------
Author:Dylan Wang
CSE 235 - Spring 2018
---------------------------------------
HTML file for main page of application. Displays list of all units alphabetically.
Clicking on a unit will open a popup dialog with more details and charts.
------------------------------------------------------------------------------>

<!--Grid of color-coded icons representing each unit. Title and music button at top.-->
<div [@fade_selection]="selection_visibility">
    <mat-grid-list cols="8" rowHeight="1:1.35">
        <mat-grid-tile [rowspan]=1 [colspan]=4>
            <img src="./assets/logo.png" height="100%">
        </mat-grid-tile>
        <mat-grid-tile [rowspan]=1 [colspan]=2>
            <div class="name" style="font-size: 6.5vh; color: #FFEB7F">HERO STAT COMPARISON</div>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]=1 [colspan]=2>
            <ul style="list-style-type:none">
                <img id="feh" src="./assets/feh.png" class="scale" (click)="shutup()">
                <div class="name" style="font-size: 1.5vh;">Click on Feh the Owl to toggle music</div>
            </ul>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let hero of hero_stats">
            <div id="{{hero.name}}" class="circle-bg scale"
                    [ngClass]="{'clip-circle-red' : hero.color === 'Red',
                            'clip-circle-blue' : hero.color === 'Blue',
                            'clip-circle-green' : hero.color === 'Green',
                            'clip-circle-colorless' : hero.color === 'Colorless'}"
                    (click)="openDialog(hero)">
                <img src="./assets/Art/{{hero.name}}/Face_FC.png" class="clip-circle">
                <div class="name" *ngIf="hero.shortName">{{hero.shortName}}</div>
                <div class="name" *ngIf="!hero.shortName">{{hero.name}}</div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>